
<div class="posts-wrapper row">
  <div class="post">
		<div class= "post-head">
			<div class="name">
				Jeremy Greenwood
			</div>
			</div>
		  <div class="image center-block">
    		<%= link_to (image_tag("mesa.jpg", :size => "500x400")) %>
		 </div>
     <p class="caption">
      <%= @post.caption %>
      <div class="text-center">
        <%= link_to "Cancel", posts_path %>
        <div class="text-center.edit-links">
          <%= link_to "Cancel", posts_path %>
          <%= link_to "Edit Post", edit_posts_path(@post) %>
      </div>
  </div>
